@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .tableInput {
    @apply w-full pt-[0.3125rem] pb-[0.3125rem] pr-[0.3125rem] pl-[0.3125rem] rounded-[0.25rem] border-2 border-blue-200 outline-0 font-roboto text-sm;
  }
  .iconClass {
    @apply w-[1.125rem] h-[1.125rem];
  }

  .createElement {
    @apply p-[0.625rem] bg-success-500 text-white-900 text-[0.875rem] rounded-[0.3125rem]  flex items-center gap-[0.3125rem] leading-[1.125rem];
  }
  .plusIcon {
    @apply text-white-900 text-[1.125rem] shadow-[0_rem_0.3125rem_0.9375rem_rgba(0,0,0,0.15)];
  }
  .clearElement {
    @apply p-[0.625rem] bg-error-500 text-white-900 text-[0.875rem] rounded-[0.5rem]  flex items-center gap-[0.3125rem] leading-[1.125rem];
  }

  .td {
    @apply px-2 py-2.5 border-r-2 border-b-2 border-primary-700 text-sm font-normal text-[#000];
  }
  .th {
    @apply font-bold text-sm text-white-900 py-4 px-2;
  }
  .tr {
    @apply border-transparent border-l-8 hover:bg-black-300 hover:border-primary-700;
  }
  .inputClass {
    @apply w-full p-[0.625rem] rounded-[0.25rem] border-[1px] border-blue-200 font-roboto text-sm placeholder-blue-200 outline-transparent outline outline-0 focus:outline-blue-100 bg-white-900 hover:bg-inputHover focus:outline-4 focus:bg-white-900 transition-all ease-in-out duration-100;
  }

  .labelClass {
    @apply block mb-[10px] text-blue-700;
  }
  .iconButton {
    @apply absolute right-[10px] top-1/2 -translate-y-1/2 text-blue-700 hover:text-black-700 transition ease-in duration-100;
  }

  .searchInput {
    @apply w-full pt-[0.625rem] pb-[0.625rem] pl-[2rem] rounded-[0.25rem] border-2 border-blue-200 outline-0 font-roboto text-sm;
  }

  .searchIcon {
    @apply absolute top-[0.875rem] left-[0.625rem] w-[1.125rem] h-[1.125rem] text-blue-200;
  }

  .paragraf {
      @apply text-[0.875rem] flex items-center text-blue-700 leading-[1rem]
  }
  .cardStyle {
    @apply p-[1.15rem] bg-primary-800 text-white-900 inline-block rounded-[.5rem] transition ease-in-out hover:bg-black-700
  }
  .headerStyle {
    @apply flex items-center justify-center text-[1.5rem] font-bold p-[.625rem]
  }
  .numberCard {
    @apply flex justify-between font-normal mt-[.3125rem]
  }
  .paragrafCard {
    @apply text-white-700 mr-[1.25rem]
  }
  .paragrafCardBtn {
    @apply text-white-700 mr-[3.1rem]
  }
  .cardSpan {
    @apply text-[1.25rem] ml-[.625rem]
  }



  ::-webkit-scrollbar {
    width: 2px;
    @apply bg-black-100;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    @apply bg-black-200;
  }
}

html,
body {
  font-family: 'Roboto', sans-serif;
  line-height: 16px;
}

.loginPage {
  height: 100vh;
  background: radial-gradient(
    100% 316.36% at 0% 50%,
    #0090a3 0%,
    rgba(36, 86, 50, 0.9) 100%
  );
}

.loginCircle {
  width: calc(100vw / 2.430604982206406);
  height: calc(100vw / 2.430604982206406);
}

.bg-circle-2 {
  width: calc(100vw / 2.732);
  height: calc(100vw / 2.732);
}

.spinner {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-top-color: white;
  width: 16px;
  height: 16px;
  animation: rotate-spinner 1s linear infinite;
}

.time-line {
  width: 100%;
  position: relative;
}

.time-line::before,
.time-line::after {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: white;
  top: -5.5px;
}

.time-line::before {
  left: -11px;
}

.time-line::after {
  right: -11px;
}

@keyframes rotate-spinner {
  100% {
    transform: rotate(360deg);
  }
}
