@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clock-color: #a9c0ef;
  --clock-width: 3rem;
  --clock-radius: calc(var(--clock-width) / 2);
  --clock-minute-length: calc(var(--clock-width) * 0.4);
  --clock-hour-length: calc(var(--clock-width) * 0.2);
  --clock-thickness: 0.1rem;
}

@layer base {
  .exportButton {
    @apply rounded-[8px] transition-all ease-in-out duration-200 overflow-hidden bg-success-500 hover:bg-success-600 active:shadow-none active:bg-success-700 pl-[8px] flex items-center justify-between shadow-[0_10px_10px_rgba(0,0,0,0.05)] leading-[1.875rem] text-white-900 text-[0.875rem] gap-[8px];
  }

  .importButton {
    @apply rounded-[8px] cursor-pointer transition-all ease-in-out duration-200 overflow-hidden bg-primary-800 hover:bg-primary-900 active:shadow-none pl-[8px] flex items-center justify-between shadow-[0_10px_10px_rgba(0,0,0,0.05)] leading-[1.875rem] text-white-900 text-[0.875rem] gap-[8px];
  }

  .tableInput {
    @apply w-full placeholder-blue-200 pt-[0.3125rem] pb-[0.3125rem] pr-[.625rem] pl-[0.625rem] rounded-[0.25rem] border-2 border-blue-200 outline-0 font-roboto text-sm text-right;
  }

  .iconClass {
    @apply w-[1.125rem] h-[1.125rem];
  }

  .searchInput {
    @apply w-full pt-[0.625rem] pb-[0.625rem] pl-[2rem] rounded-[0.25rem] border-2 border-blue-200 outline-0 font-roboto text-sm;
  }

  .createElement {
    @apply p-[0.625rem] bg-success-500 text-white-900 text-[0.875rem] rounded-[0.3125rem]  flex items-center gap-[0.3125rem] leading-[1.125rem] justify-center items-center w-full hover:bg-success-600 shadow-[0_5px_15px_rgba(0,0,0,0.15)] active:bg-success-700 active:shadow-none transition-all ease-in-out duration-200;
  }

  .plusIcon {
    @apply text-white-900 text-[1.125rem] shadow-[0_rem_0.3125rem_0.9375rem_rgba(0,0,0,0.15)];
  }

  .edit-button {
    @apply p-[0.625rem] bg-warning-500 text-white-900 text-[0.875rem] rounded-[0.3125rem]  flex items-center gap-[0.3125rem] leading-[1.125rem] justify-center items-center w-full hover:bg-warning-600 shadow-[0_5px_15px_rgba(0,0,0,0.15)] active:bg-success-700 active:shadow-none transition-all ease-in-out duration-200;
  }
  .clearElement {
    @apply p-[0.625rem] bg-error-500 text-white-900 text-[0.875rem] rounded-[0.5rem]  flex items-center gap-[0.3125rem] leading-[1.125rem] justify-center items-center w-1/2 hover:bg-error-600 shadow-[0_5px_15px_rgba(0,0,0,0.15)] active:bg-error-700 active:shadow-none transition-all ease-in-out duration-200;
  }

  .cardStyle {
    @apply p-[1.15rem] bg-primary-800 text-white-900 inline-block rounded-[.5rem] transition ease-in-out hover:bg-black-700;
  }

  .headerStyle {
    @apply flex items-center justify-center text-[1.5rem] font-bold p-[.625rem];
  }

  .numberCard {
    @apply flex justify-between font-normal mt-[.3125rem];
  }

  .paragrafCard {
    @apply text-white-700 mr-[1.25rem];
  }

  .paragrafCardBtn {
    @apply text-white-700 mr-[3.1rem];
  }

  .cardSpan {
    @apply text-[1.25rem] ml-[.625rem];
  }

  .td {
    @apply px-2 border-r-2 border-b-2 border-primary-700 text-sm font-normal text-[#000];
  }

  .th {
    @apply font-bold text-sm text-white-900 py-4 px-2;
  }

  .tr {
    @apply border-transparent bg-white-900 hover:bg-trHover hover:shadow-[-8px_0_0] hover:shadow-primary-700 transition-shadow duration-200;
  }

  .inputClass {
    @apply w-full py-[0.625rem] px-[0.58rem]  rounded-[0.25rem] border-[1px] border-blue-200 text-sm placeholder-blue-200 outline-transparent outline outline-0 focus:outline-blue-100 bg-white-900 hover:bg-inputHover focus:outline-4 focus:bg-white-900 transition-all ease-in-out duration-100;
  }
  .selectInput {
    @apply placeholder-blue-200 outline-transparent outline outline-0 focus:outline-blue-100 bg-white-900 hover:bg-inputHover focus:outline-4 focus:bg-white-900 transition-all ease-in-out duration-100
  }

  .searchInput-container {
    @apply relative px-[0.625rem] rounded-[0.25rem] border-[1px] border-blue-200 text-sm placeholder-blue-200 outline-transparent outline outline-0 focus-within:outline-blue-100 bg-white-900 hover:bg-inputHover focus-within:outline-4 focus-within:bg-white-900 focus-within:hover:bg-white-900 transition-all ease-in-out duration-100;
  }

  .labelClass {
    @apply block mb-[10px] text-blue-700;
  }

  .iconButton {
    @apply absolute right-[10px] top-1/2 -translate-y-1/2 text-blue-700 hover:text-black-700 transition ease-in duration-100;
  }

  .paragraf {
    @apply text-[0.875rem] flex items-center text-blue-700 leading-[1rem];
  }

  /* this is checkout style */
  .cardContainer {
    @apply pl-[1.875rem] pr-[1.875rem] pt-[2.3rem] pb-[2.3rem] w-[20.5rem] inline-block rounded-[.5rem] shadow-[0px_15px_15px_rgba(0,0,0,0.05)] transition ease-in-out;
  }

  .tradeCard {
    @apply bg-success-500 hover:bg-success-600;
  }

  .debts {
    @apply bg-error-500 hover:bg-error-600;
  }

  .returnedCard {
    @apply bg-primary-800 hover:bg-primary-900;
  }

  .discountCard {
    @apply bg-warning-500 hover:bg-warning-600;
  }

  .tradeIn {
    @apply flex items-center;
  }

  .percentageCircle {
    @apply w-[3.75rem] h-[3.75rem] bg-white-900 rounded-full flex justify-center items-center text-[1.25rem] leading-[1.875rem] text-black-700 mr-[1.875rem] border-[.125rem] border-black-200;
  }

  .checkoutName {
    @apply w-[11rem] text-white-800 flex justify-between pb-[1.25rem] border-b border-solid border-white-200 font-normal;
  }

  .checkName {
    @apply w-[16rem] text-white-800 flex justify-between pb-[1.25rem] border-b border-solid border-white-200 font-normal;
  }

  .costCard {
    @apply text-[2rem] leading-[1.875rem] mt-[1.25rem] text-white-900;
  }

  .activeCard {
    @apply bg-black-700 hover:bg-black-700 shadow-[0px_25px_25px_rgba(0,0,0,0.25)];
  }
  .filial-btn {
    @apply flex gap-[.625rem] justify-end pl-[1.25rem] pr-[1.25rem] items-center h-[50%]
  }

  /* Shops Card styled start */

  .shops_card {
    @apply flex w-[100%] shadow-[0px_10px_10px_rgba(0,0,0,0.05)] rounded-[.25rem] bg-white-300 justify-between hover:bg-white-900 transition ease-in duration-100 hover:cursor-pointer
  }
  .product-cost {
    @apply flex w-[80%] justify-between p-[1.25rem]
  }
  .product {
    @apply text-[1rem] font-normal leading-[1.175rem] text-black-700 mb-[.625rem] flex justify-center items-center
  }
  .product-number {
    @apply text-[1.25rem] font-normal leading-[1.465rem] flex justify-center items-center
  }
  .product-total {
    @apply font-normal text-[1.25rem] leading-[1.465rem] text-success-500 flex justify-center items-center
  }
  .shop-title {
    @apply text-[1rem] h-[50%] font-medium leading-[1.17rem] text-white-900 w-[13.4375rem] flex justify-center items-center shops-bg-color rounded-bl-[3.125rem]
  }
  .active_shop {
    @apply bg-white-900
  }

  /* Shops Card styled end */

  ::-webkit-scrollbar {
    width: 2px;
    @apply bg-black-100;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    @apply bg-black-200;
  }

  /* SaleBtns Style start */
  .paymentsstyle {
    @apply inline-block mx-2 w-[22px] h-[18-px];
  }

  .salestyle {
    @apply bg-[#E9ECEB] px-[10px] py-[10px] text-[#5A5B5B] active:bg-[#00B4CC] active:text-white-900 rounded-lg font-roboto outline-none;
  }

  .discountstyle {
    @apply bg-[#F79009] px-[15px] py-[10px] text-white-900 rounded-lg outline-none;
  }

  .discstyle {
    @apply inline-block mx-1 w-[21px] h-[21px];
  }

  .paymentstyle {
    @apply bg-[#12B76A] px-[4rem] py-[1.3rem] text-white-900 rounded-lg outline-none;
  }

  .paystyle {
    @apply inline-block mr-1 w-[21px] h-[21px];
  }

  .payclipstyle {
    @apply bg-[#9E9E9E] px-[22px] py-[15px] text-white-900 rounded-lg mx-1 outline-none;
  }

  /* SaleBtns Style end */
  .mainPadding {
    @apply pl-[2.5rem] pr-[1.25rem] py-[1.25rem];
  }


  .tableContainerPadding {
    @apply pl-[2.5rem] pr-[1.25rem] pb-[1.25rem];
  }

  .stickyForm {
    @apply sticky z-10 top-0 bg-background shadow-[0_5px_25px_rgba(0,0,0,0.5)] rounded-l-[8px];
  }

  .linkstyles {
    @apply bg-inputHover w-[180px] py-[0.3rem] rounded-full flex items-center justify-center gap-[0.625rem];
  }
  .activelink {
    @apply bg-white-900 shadow-[0px_10px_10px] shadow-black-100;
  }
  ::-webkit-scrollbar {
    width: 2px;
    @apply bg-black-100;
  }

  /* DiscountInput and ExitBtn style start */
  .discountinput {
    @apply px-[10px] py-[5px] rounded-l outline-none border border-blue-100 focus:border focus:border-warning-500;
  }

  .discountselect {
    @apply py-[5px] px-[10px] outline-none bg-warning-500 text-white-900 rounded-r cursor-pointer;
  }

  .exitbtn {
    @apply bg-error-400 py-[4px] px-[5px] text-white-900 rounded hover:bg-error-500;
  }

  /* DiscountInput and ExitBtn style end */
  .shopButton {
    @apply w-[2.125rem] h-[2.125rem] rounded-full flex items-center justify-center shadow-[0px_5px_10px_rgba(0,0,0,0.1)] hover:bg-black-700 duration-200 p-[5px];
  }
  .shopIcons {
    @apply text-[1.5rem] text-white-900;
  }

  .datePickerStyle {
    @apply text-[0.875rem] text-blue-200 border border-blue-200 w-[7rem] h-[2.375rem] rounded-md p-[0.625rem] bg-white-900 outline-0;
  }
  .datePickerIcon {
    @apply absolute top-[0.7rem] right-[0.625rem] w-[0.9rem] h-[0.9rem] text-blue-200;
  }
}

html,
body {
  font-family: 'Roboto', sans-serif;
  line-height: 16px;
}

.loginPage {
  height: 100vh;
  background: radial-gradient(
    100% 316.36% at 0% 50%,
    #0090a3 0%,
    rgba(36, 86, 50, 0.9) 100%
  );
}

.loginCircle {
  width: calc(100vw / 2.430604982206406);
  height: calc(100vw / 2.430604982206406);
}

.bg-circle-2 {
  width: calc(100vw / 2.732);
  height: calc(100vw / 2.732);
}

.spinner {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-top-color: white;
  width: 16px;
  height: 16px;
  animation: rotate-spinner 1s linear infinite;
}

.time-line {
  width: 100%;
  position: relative;
}

.time-line::before,
.time-line::after {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: white;
  top: -5.5px;
}

.time-line::before {
  left: -11px;
}

.time-line::after {
  right: -11px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* SaleBtns Style end */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.shops-bg-color {
 background:  linear-gradient(234.85deg, #00B4CC 0%, #0090A3 100%);
}
